main {
    flex: 1;
    
}

.contenido_principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 3%;
    background-color: #f4f4f9;
}

.vista_juegos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #ffffff;
    padding: 5%;
    border-radius: 10px;
    width: 100%;
    gap: 3%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}


.juego {
    display: flex;
    flex-direction: column;
    border: 2px solid #4361ee;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1%;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.juego:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.imagen_juego img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.nombre_juego p {
    font-size: 1.2em;
    font-weight: bold;
    color: #7209b7;
    margin: 10px 0;
}

.botones_juego {
    margin-top: auto; /* Empuja este elemento hacia la parte inferior del contenedor */
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px; 
}
.botones_juego form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.botones_juego input {
    background-color: #4361ee;
    color: #f4f4f9;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones_juego input:hover {
    background-color: #4cc9f0;
}

.boton_administrador {
    margin-top: 10px;
    text-align: center;
}

.boton_administrador input {
    background-color: #f72585;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton_administrador input:hover {
    background-color: #7209b7;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background: white;
    width: 80%;
    text-align: center;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #4361ee;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background: #4cc9f0;
  }