main {
    flex: 1;
    padding: 20px;
}

.contenido_principal {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Dos columnas: filtros y juegos */
    gap: 20px;
    padding: 1% 2%;
    background-color: #f4f4f9;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #7209b7;
    margin-top: 20px;
    text-align: center;
}

.filtros {
    position: sticky;
    top: 20vh;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario_filtrar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario_filtrar input[type="number"],
.formulario_filtrar select {
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    background-color: #f4f4f9;
    color: #3a0ca3;
    transition: border 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario_filtrar ::placeholder {
    color: #3a0ca3;
}

.formulario_filtrar label {
    font-size: 1em;
    font-weight: bold;
    color: #3a0ca3;
}

.formulario_filtrar input[type="submit"] {
    background-color: #4361ee;
    color: #f4f4f9;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

.formulario_filtrar input[type="submit"]:hover {
    background-color: #4cc9f0;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    color: #7209b7;
}

.vista_juegos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    gap: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.juego {
    display: flex;
    flex-direction: column;
    border: 2px solid #4361ee;
    border-radius: 10px;
    width: 100%;
    max-width: 280px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.juego:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.imagen_juego img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.nombre_juego p {
    font-size: 1.2em;
    font-weight: bold;
    color: #7209b7;
    margin: 10px 0;
}

.botones_juego {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.botones_juego form {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    gap: 10px;
    margin: 10px 0;
}

.botones_juego input {
    background-color: #4361ee;
    color: #f4f4f9;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones_juego input:hover {
    background-color: #4cc9f0;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background: white;
    max-width: 600px;
    text-align: center;
    justify-content: center;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#contenido_detalles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalles_juego {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.detalles {
    width: auto;
    display: block;
    align-content: center;
    margin: 0 auto;
    text-align: start;
    font-size: 1.2em;
}

.detalles p {
    margin-bottom: 6px;
}

.detalles h3 {
    color: var(--color-violeta);
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.imagen img {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.descripcion {
    margin-top: 10px;
    width: 100%;
}

span {
    font-weight: bold;
    color: #7209b7;
}

.descripcion p {
    font-size: 1.2em;
    text-align: justify;
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #4361ee;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #4cc9f0;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .contenido_principal {
        grid-template-columns: 1fr; 
    }

    .filtros {
        position: static; 
    }

    .vista_juegos {
        padding: 15px;
        gap: 15px;
    }

    .juego {
        width: 45%; 
    }
    .nombre_juego p {
        font-size: 1em; 
    }

    .botones_juego input {
        font-size: 0.8em; 
        padding: 8px 12px; 
    }
}



@media (max-width: 480px) {
    h2 {
        font-size: 1.2em;
    }

    .filtros {
        padding: 10px;
    }

    .formulario_filtrar input[type="number"],
    .formulario_filtrar select {
        font-size: 0.8em;
        padding: 6px;
    }

    .formulario_filtrar input[type="submit"] {
        font-size: 0.7em;
        padding: 6px 10px;
    }

    .vista_juegos {
        padding: 10px;
        gap: 10px;
    }

    .juego {
        width: 100%; 
    }

    .nombre_juego p {
        font-size: 0.9em; 
    }

    .botones_juego {
        flex-direction: column; 
        gap: 8px; 
    }

    .botones_juego input {
        font-size: 0.7em; 
        padding: 6px 10px; 
    }
    .detalles_juego {
        flex-direction: column;
    }
}