@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-rosa: #FF5FA7;
    --color-purpura: #7209b7;
    --color-violeta: #3a0ca3;
    --color-azul: #4361ee;
    --color-celeste: #4cc9f0;
    --color-fondo-claro: #f4f4f9;
    --color-texto-claro: #ffffff;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    padding-top: 20vh; 
}
main{
    flex: 1;
}

header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #3a0ca3, #4361ee);
    color: #f4f4f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

header .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .titulo h1 {
    font-size: 4rem;
    margin: 0;
    color: #f72585;
}

header .titulo p {
    /* margin: 5px 0 0; */
    font-size: 0.9em;
    color: #4cc9f0;
    margin-top: -10px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav form {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        size: 6px;
    }
}



nav form input[type="submit"],
nav form input[type="button"] {
    font-size: 1.1em;
    cursor: pointer;
    color: #f4f4f9;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px;
    text-transform: capitalize;
}

nav form input[type="text"] {
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    outline: none;
    background-color: #f4f4f9;
    color: #3a0ca3;
    transition: border 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


nav form input[type="submit"]:hover {
    color: #4cc9f0;
    transition: color 0.3s ease;
}

nav form input[type="button"]:hover {
    color: #4cc9f0;
    transition: color 0.3s ease;
}

nav form input[type="submit"]::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: #4cc9f0;
    transition: width 0.3s ease;
}

nav form input[type="submit"]:hover::after {
    width: 100%;
}

.perfil-container {
    position: relative;
}

.desplegable {
    position: absolute;
    top: 100%;
    right: 0;
    background-image: linear-gradient(to top, #3a0ca3, #4361ee);
    border: none;
    display: none;
    padding: 5px 10px;
    z-index: 10;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}

.perfil-container:hover .desplegable {
    display: block;
}

/* Estilo del botón */
.perfil,
.salir {

    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.perfil:hover,
.salir:hover {
    color: #7209b7;
}

/* Estilo footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, var(--color-violeta), var(--color-azul));
    color: var(--color-texto-claro);
    padding: 40px 60px;
    border-top: 2px solid var(--color-azul);
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer .logo h3 {
    font-size: 1.8em;
    margin: 0;
    color: var(--color-rosa);
    font-weight: 600;
    
}

footer .redes_sociales {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

footer .redes_sociales h3 {
    font-size: 1.2em;
    color: var(--color-texto-claro);
    margin-bottom: 10px;
    font-weight: 500;
}

footer .redes_sociales form input[type="submit"] {
    font-size: 1em;
    cursor: pointer;
    color: var(--color-texto-claro);
    background: transparent;
    border: none;
    padding: 8px 0;
    text-transform: capitalize;
    transition: color 0.3s ease;
    position: relative;
}

footer .redes_sociales form input[type="submit"]:hover {
    color: var(--color-celeste);
}

footer .redes_sociales form input[type="submit"]::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: var(--color-celeste);
    transition: width 0.3s ease;
}

footer .redes_sociales form input[type="submit"]:hover::after {
    width: 100%;
}

footer .mas_informacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .mas_informacion h3 {
    font-size: 1.2em;
    color: var(--color-texto-claro);
    margin-bottom: 10px;
    font-weight: 500;
}

footer .mas_informacion form input[type="submit"] {
    font-size: 1em;
    cursor: pointer;
    color: var(--color-texto-claro);
    background: transparent;
    border: none;
    padding: 8px 0;
    text-transform: capitalize;
    transition: color 0.3s ease;
    position: relative;
}

footer .mas_informacion form input[type="submit"]:hover {
    color: var(--color-rosa);
}

footer .mas_informacion form input[type="submit"]::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: var(--color-rosa);
    transition: width 0.3s ease;
}

footer .mas_informacion form input[type="submit"]:hover::after {
    width: 100%;
}



/* Scrollbar personalizado */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #f4f4f9;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3a0ca3, #4361ee);
    
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #3a0ca3, #4361ee);
}

#notificacion {
    padding: 10px;
    background-color: #28a745;
    color: white;
    position: fixed;
    left: 450px;
    top: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}