
h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-rosa);
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: var(--color-texto-claro);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-equipo {
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em;
    }

    .container {
        padding: 10px;
    }
}